#page-header {
		height: 80px;
		width: 100%;
		background-color: magenta;
			}
.logo {
		height: 200px;
		width: 200px;
		border-style: solid;
}
.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}
.tooltip tooltip-text {
	visibility: hidden;
	width; 120px;
	background-color: black;
	color: white;
	text-align: center;
	padding: 5px
	border-radius: 6px;
	position: absolute;
	z-index: 10000;
}